input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  text-align: center;
}
.center {
  margin-top: 180px;
}
.title {
  text-align: center;
  color: #2a4d69;
  font-size: 20px;
  margin-top: 162px;
}
.ip {
  width: 250px;
}
.port {
  width: 100px;
}