/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #e7eff6;
  font-family: 'Open Sans', serif;
  overflow-y: hidden;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  font-family: 'Open Sans', sans-serif;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-control {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.btn {
  border-radius: 20px;
}

.sidebar {
  margin-top: 50px;
  background-color: #284d6d;
}
