/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';


@font-face {
  font-family: "Heebo";
  src:url("./assets/Heebo-Regular.ttf");
}
body {
  position: relative;
  color: #F7F7F7;
  height: 100vh;
  background-color: #F7F7F7;
  font-family: 'Heebo';
  overflow-y: hidden;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}


.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #F7F7F7;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-control {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

.btn {
  border-radius: 20px;
  background-color: #00a896;
  border: #00a896;
}


.btn:hover {
  background-color: #05668d;
  border: #05668d;
}

.sidebar {
  margin-top: 50px;
  background-color: #00090C;
}

.form-control:focus {
  border-color: #00a896;
  box-shadow: 0 0 8px #00a896;
}
